# Visual Studio
.vs/
bin/
obj/

# Playwright
**/playwright/.cache/
**/ms-playwright/

# Node / Cypress
node_modules/
cypress/videos/
cypress/screenshots/

# OS
.DS_Store
Thumbs.db

# Playwright test artifacts
playwright-csharp/PlaywrightTests/TestResults/
playwright-csharp/PlaywrightTests/playwright-traces/
